<main *ngIf="characterDetail">

  <mat-card (swiperight)="back()">
      <mat-card-header>
        <mat-card-title>{{ characterDetail?.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="characterDetail?.image">
      <mat-card-content>
        <p>Birth Year: {{ characterDetail?.birth_year }}</p>
        <p>Species: {{ characterDetail?.speciesDetail }}</p>
        <p>Species: {{characterDetail?.speciesDetail?.name}}</p>
        <p>Gender: {{ characterDetail?.gender }}</p>
        <p>Height: {{ characterDetail?.height }}</p>
        <p>Mass: {{ characterDetail?.mass }}</p>
        <p>Hair Color: {{ characterDetail?.hair_color }}</p>
        <p>Skin Color: {{ characterDetail?.skin_color }}</p>
        <p>Eye Color: {{ characterDetail?.eye_color }}</p>
        <p>Homeworld: {{ characterDetail?.homeworld }}</p>
        <p>Films: {{ characterDetail?.films }}</p>
        <p>Starships: {{ characterDetail?.starships }}</p>
        <p>Vehicles: {{ characterDetail?.vehicles }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card-actions fxLayoutAlign="end">
      <button mat-raised-button a routerLink="/home" >
        <!-- <mat-icon>arrow_back</mat-icon> -->
        Back
      </button>
    </mat-card-actions>

</main>