<main *ngIf="planetDetail">

  <mat-card (swiperight)="back()">
    <mat-card-header>
      <mat-card-title>{{ planetDetail?.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="planetDetail?.image">
    <mat-card-content>
      <p><strong>Name: </strong> {{ planetDetail?.name }}</p>
      <p><strong>Diameter: </strong>{{ planetDetail?.diameter }}</p>
      <p><strong>Rotation Period: </strong>{{ planetDetail?.rotation_period }}</p>
      <p><strong>Orbital Period: </strong>{{ planetDetail?.orbital_period }}</p>
      <p><strong>Gravity: </strong>{{ planetDetail?.gravity }}</p>
      <p><strong>Population: </strong>{{ planetDetail?.population }}</p>
      <p><strong>Climate: </strong>{{ planetDetail?.climate }}</p>
      <p><strong>Terrain: </strong>{{ planetDetail?.terrain }}</p>
      <p><strong>Surface Water: </strong>{{ planetDetail?.surface_water }}</p>
      <p><strong>Residents: </strong>
        <div *ngIf="characters.length != 0, else NA">
        <div *ngFor="let character of characters">
          <p class="para"><a routerLink="/characterdetail/{{character?.name}}">{{character?.name}}</a></p>
        </div>
      </div>
      <p><strong>Films: </strong></p>
      <div *ngIf="films.length != 0, else NA">
        <div *ngFor="let film of films">
          <p class="para"><a routerLink="/filmdetail/{{film?.title}}">{{film?.title}}</a></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>
      Comments
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="comments.length != 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" [(ngModel)]="comments"></textarea>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="comments.length == 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" ngModel></textarea>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card-actions fxLayoutAlign="end">
    <button mat-raised-button a routerLink="/home">
      <!-- <mat-icon>arrow_back</mat-icon> -->
      Back
    </button>
  </mat-card-actions>
  <ng-template #NA>
    <p>There is no related item.</p>
  </ng-template>
</main>