<main *ngIf="starshipDetail">
  <mat-card (swiperight)="goBack()">
    <mat-card-header>
      <mat-card-title><strong>{{ starshipDetail?.name }}</strong></mat-card-title>
      <button (click)="share">Share Me</button>
    </mat-card-header>

    <img mat-card-image [src]="starshipDetail?.image">
    <mat-card-content>
      <p><strong>Model:</strong> {{ starshipDetail?.model }}</p>
      <p><strong>Starship Class: </strong>{{ starshipDetail?.starship_class }}</p>
      <p><strong>Manufacturer: </strong>{{ starshipDetail?.manufacturer }}</p>
      <p><strong>Cost in Credits: </strong>{{ starshipDetail?.cost_in_credits }}</p>
      <p><strong>Length: </strong>{{ starshipDetail?.length }}</p>
      <p><strong>Crew: </strong>{{ starshipDetail?.crew }}</p>
      <p><strong>Passengers: </strong>{{ starshipDetail?.passengers }}</p>
      <p><strong>Max Atmosphering Speed: </strong>{{ starshipDetail?.max_atmosphering_speed }}</p>
      <p><strong>Hyperdrive Rating: </strong>{{ starshipDetail?.hyperdrive_rating }}</p>
      <p><strong>MGLT: </strong>{{ starshipDetail?.MGLT }}</p>
      <p><strong>Cargo Capacity: </strong>{{ starshipDetail?.cargo_capacity }}</p>
      <p><strong>Consumables: </strong>{{ starshipDetail?.consumables }}</p>
      <p><strong>Films: </strong></p>
      <div *ngIf="films.length != 0, else NA">
        <div *ngFor="let film of films">
          <p class="para"><a routerLink="/filmdetail/{{film?.title}}">{{film?.title}}</a></p>
        </div>
      </div>
      <p><strong>Piolts: </strong></p>
      <div *ngIf="characters.length != 0, else NA">
        <div *ngFor="let character of characters">
          <p class="para"><a routerLink="/characterdetail/{{character?.name}}">{{character?.name}}</a></p>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>
      Comments
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="comments.length != 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" [(ngModel)]="comments"></textarea>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="comments.length == 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" ngModel></textarea>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-template #NA>
    <p>There is no related item.</p>
  </ng-template>
</main>