<main *ngIf="characterDetail">

  <mat-card (swiperight)="back()">
    <mat-card-header>
      <mat-card-title>{{ characterDetail?.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="characterDetail?.image">
    <mat-card-content>
      <p><strong>Birth Year: </strong>{{ characterDetail?.birth_year }}</p>
      <p><strong>Species: </strong></p>
      <div *ngIf="species.length != 0, else NA">
        <div *ngFor="let species1 of species">
          <p class="para"><a routerLink="/speciesdetail/{{species1?.name}}">{{species1?.name}}</a></p>
        </div>
      </div>
      <p><strong>Gender: </strong>{{ characterDetail?.gender }}</p>
      <p><strong>Height: </strong>{{ characterDetail?.height }}</p>
      <p><strong>Mass: </strong>{{ characterDetail?.mass }}</p>
      <p><strong>Hair Color: </strong>{{ characterDetail?.hair_color }}</p>
      <p><strong>Skin Color: </strong>{{ characterDetail?.skin_color }}</p>
      <p><strong>Eye Color: </strong>{{ characterDetail?.eye_color }}</p>
      <p><strong>Homeworld: </strong><a routerLink="/planetdetail/{{planet?.name}}">{{planet?.name}}</a></p>
      <p><strong>Films: </strong></p>
      <div *ngIf="films.length != 0, else NA">
        <div *ngFor="let film of films">
          <p class="para"><a routerLink="/filmdetail/{{film?.title}}">{{film?.title}}</a></p>
        </div>
      </div>
      <p><strong>Starships: </strong></p>
      <div *ngIf="starships.length != 0, else NA">
        <div *ngFor="let starship of starships">
          <p class="para"><a routerLink="/starshipdetail/{{starship?.name}}">{{starship?.name}}</a></p>
        </div>
      </div>
      <p><strong>Vehicles: </strong></p>
      <div *ngIf="vehicles.length != 0, else NA">
        <div *ngFor="let vehicle of vehicles">
          <p class="para"><a routerLink="/vehicledetail/{{vehicle?.name}}">{{vehicle?.name}}</a></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>
      Comments
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="comments.length != 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" [(ngModel)]="comments"></textarea>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="comments.length == 0">
        <form #form='ngForm' class="form-form">
          <mat-form-field class="form-full-width">
            <textarea (change)="addComments(form)" name="comments" matInput rows="4" ngModel></textarea>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card-actions fxLayoutAlign="end">
    <button mat-raised-button a routerLink="/home">
      <!-- <mat-icon>arrow_back</mat-icon> -->
      Back
    </button>
  </mat-card-actions>
  <ng-template #NA>
    <p>There is no related item.</p>
  </ng-template>
</main>