<main style="text-align:center">
  <mat-card class="cardPardding">
    <mat-card-title >
      <a routerLink="/characters/page/1" style="text-decoration:none">Characters</a>
    </mat-card-title>
  </mat-card>
  <mat-card class="cardPardding">
      <mat-card-title>
    <a routerLink="/films" style="text-decoration:none">Films</a>
    </mat-card-title>
  </mat-card>
  <mat-card class="cardPardding">
      <mat-card-title>
    <a routerLink="/species" style="text-decoration:none">Species</a>
    </mat-card-title>
  </mat-card>
  <mat-card class="cardPardding">
      <mat-card-title>
    <a routerLink="/starship" style="text-decoration:none">Starship</a>
    </mat-card-title>
  </mat-card>
  <mat-card class="cardPardding">
      <mat-card-title>
    <a routerLink="/vehicles" style="text-decoration:none">Vehicles</a>
    </mat-card-title>
  </mat-card>
  <mat-card class="cardPardding">
      <mat-card-title>
    <a routerLink="/planets" style="text-decoration:none">Planets</a>
    </mat-card-title>
  </mat-card>

</main>

<router-outlet></router-outlet>